<?xml version="1.0" encoding="UTF-8"?>
<!-- 
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    bean definitions here

</beans> 
-->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<!-- xml 파일이 스프링의 동작 수행(예: 마트, 쇼핑몰 ...) -->

	<!-- 객체생성 MsgBeanKr mbi = new MsgBeanKr(); -->
	<bean id="mbi" class="com.itwillbs.spring.MsgBeanKr"/>

</beans>